@model WebMVC.DTOs.Usuarios.LoginDTO
@{
    ViewData["Title"] = "Iniciar Sesión";
}

<h2>Login</h2>
<hr />
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
<div class="row">
    <div class="col-md-4">
		<form asp-action="Login" method="post">
			<div class="mb-3">
				<label asp-for="Email" class="form-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Pass" class="form-label">Contraseña</label>
				<input asp-for="Pass" type="password" class="form-control" />
				<span asp-validation-for="Pass" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Entrar</button>
		</form>
    </div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}